@model FeyonaBank.ViewModels.CustomerAccountViewModel
@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="container body-content">
        <br />
        <br />
        <h1>Customers</h1>
        <h3>- list of customer and bankaccounts</h3>
        <hr />
        <br />
        <br />

        <table>
            <tbody>
                <tr>
                    <th>Customer details</th>
                    <th>Bank Account ID</th>
                    <th>Bank Account Balance</th>
                </tr>
                @foreach (var item in Model.Customers)
                {

                    <tr>
                        <td>
                            <p><b>@item.CompanyName</b></p>
                            <p>@item.OrgNumber</p>
                            <p>@item.Address</p>
                            <p>@item.ZipCode</p>
                            <p>@item.City</p>
                            <p>@item.Country</p>
                            <p>@item.Telephone</p>
                        </td>



                        <td>
                            @foreach (var account in item.BankAccounts)
                            {
                                <p><b>@account.AccountId</b></p>

                            }
                        </td>
                        <td>
                            @foreach (var account in item.BankAccounts)
                            {
                                <p>@account.Balance SEK</p>
                            }
                        </td>
                    </tr>

                }
            </tbody>
        </table>

    </div>

</body>
